*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

#drawingGrid {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  display: grid;
  cursor: pointer;
}



